.item{
  float: left;
  width: 100%;
  padding: 3px;
}

.title{
  float: left;
  width: 215px;
  padding: 5px;
}

.input{
  float: left;
  padding-bottom: 5px;
}

.startDate{
  height: 15px
}

.field{
  width: 265px;
}

select.field{
  width: 275px;
}

.creditField{
  margin-top: 10px;
  margin-bottom: 0;
}

textarea{
  width: 269px;
  height: 80px;
  font-family: Arial;
  resize: none;
}
