.column{
  float: left;
  width: 326px;
}

.item{
  float: left;
  width: 100%;
  padding: 3px;
}

.title{
  float: left;
  width: 100px;
  padding: 5px;
}

.input{
  float: left;
  padding-bottom: 5px;
}

.fieldset{
  border: 2px solid #00334D;
  margin-bottom: 20px;
  padding: 20px;
}

.legend{
  color: #00334D;
  font-weight: bold;
}

.req{
  color: red;
  font-weight: bold;
}
