.item{
  float: left;
  width: 100%;
  padding: 3px;
}

.title{
  float: left;
  width: 215px;
  padding: 5px;
}

.input{
  float: left;
  padding-bottom: 5px;
}

[id = selSubscriptionItem], [id = selPaymentType]{
  width: 275px;
}

.field{
  width: 265px;
}

.creditField{
  margin-top: 10px;
  margin-bottom: 0;
}

.defaultSelectBorder{
  border-color: #A9A9A9;
}

.selectErrorBorder{
  border-color: red;
}
