.item{
  float: left;
  width: 100%;
  padding: 3px;
}

.title{
  float: left;
  width: 215px;
  padding: 5px;
}

.input{
  float: left;
  padding-bottom: 5px;
}

.boxContent{
  text-align: center;
}

.boxContent input[type = text]{
  width: 80%;
}

.boxContent input[type = button]{
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  width: 108px;
  height: 25px;
}

.boxContent input[type = button]:hover{
  cursor: pointer;
  color: #00334D;
  background-color: #F78F1E;
}

[id = txtStartDate]{
  padding-top: 1px;
  padding-bottom: 1px;
  height: 19px;
  width: 265px;
}

[id = txtSubscription]{
  width: 265px;
}

[id = selMount]{
  width: 275px;
}

.notes{
  width: 269px;
  height: 80px;
  font-family: Arial;
  resize: none;
}

[id = customerBox]{
  border-radius: 20px;
  position: absolute;
  z-index: 1;
  right: 0;
  left: 0;
  width: 600px;
  margin: auto;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.displayBox{
  display: block;
}

.hideBox{
  display: none;
}

.fieldset{
  margin: 0 20px 20px 20px;
}

.closeButton{
  text-align: right;
  margin-right: 15px;
  margin-left: 568px;
  font-size: 22pt;
  border-radius: 30px;
}

.closeButton:hover{
  cursor: pointer;
  color: #00334D;
  background-color: #F78F1E;
}

.defaultBorder{
  border-width: 2px;
  border-style: inset;
  border-color: initial;
  border-image: initial;
}

.defaultSelectBorder{
  border-color: #A9A9A9;
}

.defaultButtonBorder{
  border-width: 2px;
  border-style: outset;
  border-color: buttonFace;
  border-image: initial;
}

.errorBorder{
  border-width: 2px;
  border-style: solid;
  border-color: red;
}

.selectErrorBorder{
  border-color: red;
}

.buttonErrorBorder{
  border-color: red;
}
